@model IEnumerable<string>

<div class="d-grid gap-1">
    <a class="btn btn-sm @(ViewBag.SelectedCategory == null ? "btn-dark" : "btn-light")"
asp-action="Index" asp-controller="Home" asp-route-category="" asp-route-productPage="1">
      All
    </a>
  @foreach (string category in Model ?? Enumerable.Empty<string>())
    {
   <a class="btn btn-sm @(category == ViewBag.SelectedCategory ? "btn-dark" : "btn-light")"
           asp-action="Index" asp-controller="Home"
  asp-route-category="@category"
 asp-route-productPage="1">
          @category
        </a>
    }
</div>
