@model StoreSport.Models.Cart

<div>
    @if (Model.Lines.Any())
    {
        <div class="navbar-text">
  <b>Your cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
  @Model.ComputeTotalValue().ToString("c")
   </div>
    }
    else
    {
        <div class="navbar-text">
            (empty)
        </div>
 }
</div>
