@page
@model CompletedModel
@{
    ViewBag.Title = "Order Completed";
}

<div class="text-center m-5">
    <h2>Thanks!</h2>
    <p>Thanks for your order.</p>
    <p>Your order number is: <strong>#@Model.OrderId</strong></p>
    <p>We'll ship your goods as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Store</a>
</div>
